*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


#navbar {
  display: flex;
  align-items: center;
  position: relative;
  top: 0px;
}

#logo {
  margin: 5px 5px;
}

#logo img {
  height: 57px;
  margin: 10px 10px;
}
#navbar ul {
  display: flex;
  align-items: center;
  font-family: 'Merriweather', serif;
}

#navbar::before {
  content: "";
  background-color:#30353b;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 0px 11px;
  border-radius: 10px;
  display: block;
}
#navbar ul li a:hover{
  color: black;
  background-color: beige;
}

.img img{
    width: 100%;
    height: auto;
    border: 1px solid #30353b;

}
.head{
    font-size: 2.5rem;
    font-family: 'Merriweather', serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head1{
    font-size: 1.5rem;
}
.mainexp{
    padding: 10px;
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30353b;
}
.mainexp h1{
    width: 130%;

}
body{
    content: "";
    background-color: white;
    opacity: 0.8;
    
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.mainexp ::before{
    background: url(../images/mainexp.jpg) no-repeat center center/cover   ;
    opacity: 0.4;
    position: relative;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    
}
.mainexp p{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-family: 'Merriweather', serif;
}
p .bl_og{
    font-family: 'Merriweather', serif;
     font-size: medium;
     display: flex;
     align-items: center;
     justify-content: center;
}
.blog, .blog_1, .blog_2{
    display: flex;
    flex-direction: row;
    font-family: 'Merriweather', serif;
}
.blog1, .blog2, .blog3, .blog4, .blog5, .blog6{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 30px 50px;
    height: 150px;
}
.blog1:hover, .blog2:hover, .blog3:hover, .blog4:hover, .blog5:hover, .blog6:hover{
    color: black;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6bafa7;
}
.btn{
    
    padding: 6px 10px;
    border: 2px solid #13547a;
    background-color: #80d0c7;
   
    margin: 17px;
    border-radius: 10px;
    cursor: pointer;
    
}
.btn > a{
    text-decoration: none;
    color: black;
}
.head2{
    margin: 5px;
    width: 50%;
    
}
.body2{
    margin: 10px;
    background-color: #6bafa7;
    padding: 30px;
}
.explore p{
    font-family: 'Merriweather', serif;
    font-size: large;
    display: flex;
    flex-direction: column;
    margin: 10px;  
    padding-left: 30px;
}
.form{
    width: 50%;
    padding: 20px;
   flex-direction: column;
   padding-top: 200px;
   background-color: #F8F4EA;
   align-items: center;
   justify-content: center;
 } 

 .text{
  margin-top:0;
  margin-bottom:0;
  padding-top:50px;
 }
 .footer{
display: flex;
padding-top: 150px;
font-size: large;
font-family: 'Merriweather', serif;
 }
.name, .name1, .name_1, .name_2{
    margin: 0px 20px;
    display: flex;
    padding-top: 20px;
}
.mailbox{
 
  border: none;
  border-bottom: 3px solid #004a39  ;
  background-color: #F8F4EA;
  margin: 0px 20px;
  display: flex;
  padding-top: 20px;
}
.comments{
  border: none;
  border-bottom: 3px solid #004a39  ;
  background-color: #F8F4EA;
  margin: 0px 20px;
  display: flex;
  padding-top: 20px;
}

.bt_n{
  padding: 6px 15px;
  margin: 5px;
    border: 2px solid #13547a;
    background-color: #80d0c7;
   
    margin: 17px;
    border-radius: 10px;
    cursor: pointer;
}

.name_1, .name_2{

    border: none;
  border-bottom: 3px solid #004a39  ;
  background-color: #F8F4EA;
}
.im_g{
    width: 50%;
    background-color: #004a39;
}
.mail, .write{
    display: flex;
    margin: 0px 20px;
    padding-top: 20px;
}
.exp{
    display: flex;
    align-items: center;
    padding-left: 28px;
   
}
.btn_e{
    padding: 10px 20px;
    border: 2px solid #13547a;
    background-color: #80d0c7;
   
    margin: 17px;
    border-radius: 10px;
    cursor: pointer;
    
}
.btn_e > a{
    text-decoration: none;
    color: black;
    font-family: 'Merriweather', serif;
    font-size: medium;
}