*{
    margin: 0;
    padding: 0;
}
body{
    margin: 8% 35%;
    border: 3px solid #c36b84;
    border-radius: 5px;
    background: url(/images/p1.jpg);
    background-size: cover;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2cac8;  
    height: 350px;
    width: auto;
}
form h1{
    padding: 8px;
}
form input[type="submit"]{
    padding: 15px;
    margin: 10px;
    border: 2px solid #fb948f;
    border-radius: 25px;
    cursor: pointer;
}
.box input[type="text"], .box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #febb75;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25px;
}
.box input[type="text"]:focus, .box input[type="password"]:focus{
    width: 270px;
    border-color: #c36b84;
}
