
.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.25;
    height: 100vh;
    background-color: #13547a;
}
.sidebar_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #207db3;
    color: white;
    border-bottom: 3px solid #0e3b55;
}
sidebar_chanels{
    flex: 1;
}
 sidebar_addchanels{
    cursor: pointer;
 }
 sidebar_addchanels:hover{
    color: white;
 }
 .sidebar_chanel_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #207db3;
    color: white;
 }
 .sidebar_header{
    display: flex;
    align-items: center;
 }
 .sidebar_voice{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    color: black;
    background-color:#0e3b55;
    padding: 10px;
    border-top: 1px solid black;
    bottom: 0;

 }
 .sidebar_voiceinfo{
    flex: 1;
    padding: 10px;
 }
 .sidebar_voice{
    color: #80f280c7;
 }
 .sidebar_voiceinfo > p{
    color: black;
    font-size: smaller;
 }
 .sidebar_icons{
    color: black;
    padding: 15px;
 }
 .sidebar_profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color:#0e3b55;
    padding: 10px;
    border-top: 1px solid black;

 }
 .profileinfo{
    flex: 1;
    padding: 10px;
 }
.profileinfo > h3, p{
    color: white;
}
.pfp{
    color: white;
}